@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 215 28% 17%;
    --card: 0 0% 100%;
    --card-foreground: 215 28% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 28% 17%;
    --primary: 244 67% 54%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215 25% 27%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 217 19% 35%;
    --accent: 244 67% 54%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 244 67% 54%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 1rem;
    --sidebar-background: 28 30% 92%;
    --sidebar-foreground: 20 14% 20%;
    --sidebar-primary: 31 81% 54%;
    --sidebar-primary-foreground: 20 14% 4%;
    --sidebar-accent: 28 44% 95%;
    --sidebar-accent-foreground: 20 14% 4%;
    --sidebar-border: 30 20% 85%;
    --sidebar-ring: 31 81% 54%;
  }
  .dark {
    --background: 215 28% 17%;
    --foreground: 210 40% 98%;
    --card: 215 28% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 215 28% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 244 67% 54%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 19% 27%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 19% 27%;
    --muted-foreground: 215 20% 65%;
    --accent: 244 67% 54%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 19% 27%;
    --input: 217 19% 27%;
    --ring: 244 67% 54%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 20 14% 8%;
    --sidebar-foreground: 30 100% 98%;
    --sidebar-primary: 31 81% 54%;
    --sidebar-primary-foreground: 20 14% 4%;
    --sidebar-accent: 20 14% 15%;
    --sidebar-accent-foreground: 30 100% 98%;
    --sidebar-border: 20 14% 15%;
    --sidebar-ring: 31 81% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-indigo-100;
  }
}
